{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">WE ARE HERE</h1>
            <p class="lead fw-normal text-white-50 mb-0">WELCOME TO SHOP EASY</p>
        </div>
    </div>
</header>
<div class = 'container'>
    <div class = 'row'>
        <center>
            <div class = 'col-8'>
                Welcome to <b>SHOP EASY</b>, where shopping meets convenience and quality.<br><br>
                <p align = 'justify'>
                At SHOP EASY, we're passionate about bringing you an unparalleled online shopping experience.
                Founded with the vision of making shopping easier and more enjoyable for everyone, we've curated a diverse selection of products to cater to your every need and desire.<br>
                From the latest trends in fashion and beauty to cutting-edge electronics and home essentials, we've got you covered.
                Our team scours the globe to handpick only the finest items, ensuring that each product meets our stringent standards of quality and affordability.<br>
                Customer satisfaction is our top priority, and we strive to exceed your expectations with every purchase.
                With secure payment options, fast shipping, and responsive customer support, we're committed to making your shopping experience seamless and enjoyable from start to finish.<br><br>
                Thank you for choosing <b>SHOP EASY</b>. 
                Join us on this exciting journey, and let's redefine the way you shop online.
                </p>
                <p>for emergency contact : 9876543210</p>
                <h2>Happy shopping :)</h2>
            </div>
        </center>
    </div>
</div>
{% endblock %}