{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
                </div>
            </div>
        </header>
        <div class="card" style="display: flex; flex-direction: row;">
          <img src="{{ product.image.url }}" class="card-img-top" alt="..." style="width: 150px; height: 100px;">
          <div class="card-body" style="flex: 1;">
              <div style="display: flex; flex-direction: column;">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
              </div>
              <div>
                  <a href="#" class="btn btn-secondary">-</a>
                  1
                  <a href="#" class="btn btn-secondary">+</a>
              </div>
          </div>
      </div>
        <br><br>
        {% endblock %}
